<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>The Hospital You Need</h1>
  <p>Please login first!</p>
</div>

<div class="col-lg-4">
</div>
<div class="col-lg-4">
  <form class="form" action="{{url_for('procLog')}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label" for="id">Id</label>
      <input class="form-control" id="id" name="id" type="text"></input>
      <label class="control-label" for="pwd">Password</label>
      <input class="form-control" id="pwd" name="pwd" type="password"></input>
      <div class="row"><h6></h6></div>
      <button class="btn btn-info" type="submit">Login</button>
    </div>
  </form>
</div>
</body>
</html>
